.features {
  grid-column: center-start / center-end;

  @supports(display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }

  margin: 15rem 0;

  @media only screen and (max-width: $bp-medium) {
    margin: 8rem 0;
  }
}

// Would be completely reusable on other parts of the page
.feature {
  //These 3 lines are only required for browsers that do not support CSS-grid
  float: left;
  width: 33.33%;
  margin-bottom: 6rem;

  @supports(display: grid) {
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    height: 4.5rem;
    width: 4.5rem;
    // grid-row: 1 / -1; // -1 is the end of the explicit grid
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }
  &__text {
    font-size: 1.7rem;
  }
}
